<!-- bridge_data.html -->

<div class="text-center my-3">
    <h2>{{ bridge.number }}</h2>

    <!-- Dropdown for selecting the view -->
    <select hx-get="/bridges" hx-trigger="change" hx-target="#bridge-content" hx-include="[name='bridge']" name="view">
        <option value="hourly">Today</option>
        <option value="weekly">Last Week</option>
        <option value="monthly">This Month</option>
        <option value="annual">Year to Date</option>
    </select>
    <div id="bridge-content">
        {% include 'partials/bridge_data_content.html' %}
    </div>
</div>

