.inactive {
    display: none;
}

.modular-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 5px;
}

.banner-image {
    width: 100%; /* Full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
}

.product-image {
    width: 100%;
    height: auto;
}

.card-title {
    margin: 0; /* Ensure no additional margin is reducing the available width */
    width: 100%; /* This ensures the title will try to use up all available space */
    white-space: nowrap; /* Prevents the text from wrapping and forces it to one line */
    overflow: hidden; /* Ensures any overflow text is hidden */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows the container's width */
}

