.inactive {
    display: none;
}

.modular-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 5px;
}

.banner-image {
    width: 100%; /* Full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
}


