{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-3 modular-container">
        <div class="card">
            <div class="card-header">Bridge Selector</div>
            <div class="card-body">
                <label for="bridge-select">Select a Bridge:</label>
                <select class="form-control" name='bridge' hx-get="/bridges" hx-trigger="load,change" hx-target="#bridge-data">
                    {% for bridge in bridges %}
                        <option value="{{ bridge.id }}">{{ bridge.number }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-5 modular-container">
        <div class="card">
            <div class="card-header">Sensor Location</div>
            <div class="card-body">
                <label for="bridge-select">Select a Bridge:</label>
                <select class="form-control" name='bridge' hx-get="/bridges" hx-trigger="load,change" hx-target="#bridge-data">
                    {% for bridge in bridges %}
                        <option value="{{ bridge.id }}">{{ bridge.number }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>


    <div x-data="{}" @htmx:afterSwap="TiltDashboard.updateDashboard">
        <div id="bridge-data">
            <!-- Sensor data will be loaded here dynamically using HTMX -->
        </div>
    </div>
</div>
{% endblock content %}