{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-center">Dashboard</h2>

    <div class="form-group mt-3 mx-auto" style="max-width: 50%;">
        <label for="bridge-select">Select a Bridge:</label>
        <select class="form-control" name='bridge' hx-get="/bridges" hx-trigger="load,change" hx-target="#bridge-data">
            {% for bridge in bridges %}
                <option value="{{ bridge.id }}">{{ bridge.number }}</option>
            {% endfor %}
        </select>
    </div>

    <div x-data="{}" @htmx:afterSwap="TiltDashboard.updateDashboard">
        <div id="bridge-data">
            <!-- Sensor data will be loaded here dynamically using HTMX -->
        </div>
    </div>
</div>
{% endblock content %}