{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-3 modular-container">
        <div class="card">
            <div class="card-header"><h4>Bridge Selector</h4></div>
            <div class="card-body">
                <label for="bridge-select">Select a Bridge:</label>
                <select class="form-control" name='bridge' hx-get="/bridges" hx-trigger="load,change" hx-target="#bridge-data">
                    {% for bridge in bridges %}
                        <option value="{{ bridge.id }}">{{ bridge.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-5 modular-container">
        <div class="card">
            <div class="card-header"><h4>Points of Interest</h4></div>
            <div class="card-body">
                <!-- Placeholder for Bridge Photo with sensor locastion and data -->
                <img src="{{ url_for('static', filename='/img/sensor-location-2.webp') }}" alt="Sensors" class="banner-image">
            </div>
        </div>
    </div>
    <div class="col-md-3 modular-container">
        <div class="card">
            <div class="card-header"><h4>Bridge Information</h4></div>
            <div class="card-body">
                Asset ID:....
                <br />
                Structure Name:....
                <br />
                Location Info...
                <br />
                Time...
                <br />
                ....
            </div>
        </div>
    </div>

    <div x-data="{}" @htmx:afterSwap="TiltDashboard.updateDashboard">
        <div id="bridge-data">
            <!-- Sensor data will be loaded here dynamically using HTMX -->
        </div>
    </div>

</div>
{% endblock content %}