{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 modular-container">
            <!-- Banner Image -->
            <img src="{{ url_for('static', filename='/img/banner-2.webp') }}" alt="Banner" class="banner-image">
    </div>
    <div class="col-md-3 modular-container">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Login</button>
                </form>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">Contact</div>
            <div class="card-body">
                <div>Please use the username and password provided to you during the registration process. If you are having trouble logging in, please contact:</div>
                <div>Mohamed Sacko</div>
                <div>mohamed.sacko@wsp.com</div>
                <div>704-426-3457</div>
            </div>        
    </div>
</div>
{% endblock %}
